{% extends "qa/base.html" %}

{% block title %}
	{{ block.super }} – Add Question
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h1>Write your question here and someone will help you!</h1>
        </div>
        <div class="card-body {% if not user.is_authenticated %}bg-secondary{% endif %}">
        {% if user.is_authenticated %}                      
            {% for e in form.non_field_errors %}
                <div class="alert alert-danger">{{ e }}</div>
            {% endfor %}
            <form class="form-horizontal" method="post" action="/ask/">
                {% csrf_token %}
                <fieldset>
                {% for field in form %}
                    <div class="form-group {% if field.errors %}has-error{% endif %}">
                        <label class="control-label">{{ field.label }}</label>
                        <div class="controls">
                            {{ field }}
                        </div>
                    </div>
                {% endfor %}
                </fieldset>
                <div class="form-actions d-flex justify-content-end">
                    <button type="submit" class="btn btn-secondary">Save</button>
                </div>
            </form>
        {% else %}
            <div class="text-light d-flex justify-content-center  align-items-center mt-5 mb-5"><h3>You need to be logged in to ask questions!</h3></div>
        {% endif %}
        </div>
    </div>
{% endblock %}
