{% extends "qa/base.html" %}

{% block title %}
	{{ block.super }} – add question
{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-header">
            <h1>{{ question.title }}</h1>
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <div class="mr-5">{{ question.added_at }}</div>
                <div >{{ question.rating }}</div>
                <div class="ml-5"><b>{{ question.author }}</b></div>
            </div>
            <p class="mt-3">{{ question.text }}</p>
        </div>
    </div>
                        
    {% for answer in answers %}	
        <div class="card mt-5">
            <div class="card-body">
                <div class="d-flex justify-content-center">
                    <div class="mr-2"><b>{{ answer.author }}</b></div>
                    <div class="ml-2">{{ answer.added_at }}</div>
                </div>
                <p class="mt-3">{{ answer.text }}</p>
            </div>
        </div>
    {% endfor %}
    <div class="mt-5"></div>
    <div class="card">
        <div class="card-header {% if user.is_authenticated %} bg-secondary {% else %} bg-dark {% endif %} text-white">
            {% if user.is_authenticated %}
                You can help by answering the question!
            {% else %}
                You must be logged in to answer questions!  <a class="text-light" href="/login/?next=/question/{{ question.id }}/">Login?</a>
            {% endif %}
        </div>
        {% if user.is_authenticated %}
            <div class="card-body">
            {% for e in form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ e }}
                </div>
            {% endfor %}
            <form class="form-horizontal" method="post" action="/question/{{ question.id }}/">
                {% csrf_token %}
                <fieldset>
                {% for field in form.visible_fields %}
                    <div class="form-group {% if field.errors %}has-error{% endif %}">
                        <label class="control-label">{{ field.label }}</label>
                        <div class="controls">
                            {{ field }}
                        </div>
                    </div>
                {% endfor %}
                {% for field in form.hidden_fields %}
                    <div>
                        <div>
                            {{ field }}
                        </div>
                    </div>
                {% endfor %}
                </fieldset>
                <div class="form-actions d-flex justify-content-end">
                    <button type="submit" class="btn btn-secondary" >Save</button>
                </div>
            </form>
            </div>
        {% endif %}
    </div>
{% endblock %}       
