<html>
    <head>
    </head>
    <body>
        <h1>{{ question.title }}</h1>
        <h6>{{ question.added_at }}</h6>
        <h6>{{ question.rating }}</h6>
        <h6>{{ question.author }}</h6>
        <p>{{ question.text }}</p>
        <hr>
        
        {% for answer in answers %}
           <h1>{{ answer.author}}</h1>                                         
           <h6>{{ answer.added_at }}</h6>
           <p>{{ answer.text }}</p>
           <br>
        {% endfor %}
        <hr>
    </body>
</html>
