<html>
    <head>
    </head>
    <body>
	{% for q in questions %}
	   <h1>{{ q.title }}</h1>
           <h6>{{ q.added_at }}</h6>
           <h6>{{ q.rating }}</h6>
           <h6>{{ q.author }}</h6>
           <p>{{ q.text }}</p>
           <a href='/question/{{ q.id  }}/'>Go to question #{{ q.id  }} page</a>
           <hr>
        {% endfor %}
        {% if paginator is not None %}
        <nav>
            <ul class="pagination">
                {% for p in paginator.page_range %}
		    {% if p == page.number %}
 		      <li class="active">
		    {% else %}
                      <li>
                    {% endif %}
                          <a href="{{ paginator.baseurl }}{{ p }}">{{ p }}</a>
                      </li>
                 {% endfor %}
             </ul>
        </nav>
       {% endif %}
    </body>
</html>
